<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<head>
   <title>RPi Control Server</title>
   <!-- Latest compiled and minified CSS -->
   <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</head>

<body>
   <h1>RPi Web Server</h1>
   {% for relay in relays %}
   <h2>{{ relays[relay].name }}



   <input id="relays[relay].state" type="checkbox" data-toggle="toggle">

   {% endfor %}
</body>
</html>
